In [142]:
from sklearn.linear_model import LogisticRegression as lr

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors
from sklearn import metrics

In [143]:
# Enabled to remove warnings for demo purposes.
import warnings
warnings.filterwarnings('ignore')

In [144]:
import math
import numpy as np
import pandas as pd
# import scipy.stats as stats
import statsmodels.api as sm

import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline

import seaborn as sns
sns.set(rc={'figure.figsize':(16,10)}, font_scale=1.3)

In [145]:
from scipy import stats

In [146]:
df = pd.read_csv('./final_dataset.csv')
df

,Unnamed: 0,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,stroke,treatment_bmi,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0,1.0,67.0,0,1,1,1,228.69,1,1,0,0,1,0,0,0,1,0,0
1,1,1.0,80.0,0,1,1,0,105.92,1,1,0,0,1,0,0,0,0,1,0
2,2,0.0,49.0,0,0,1,1,171.23,1,1,0,0,1,0,0,0,0,0,1
3,3,0.0,79.0,1,0,1,0,174.12,1,0,0,0,0,1,0,0,0,1,0
4,4,1.0,81.0,0,0,1,1,186.21,1,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,4903,0.0,13.0,0,0,0,0,103.08,0,0,0,0,0,0,1,1,0,0,0
4904,4904,0.0,81.0,0,0,1,1,125.20,0,1,0,0,0,1,0,0,0,1,0
4905,4905,0.0,35.0,0,0,1,0,82.99,0,1,0,0,0,1,0,0,0,1,0
4906,4906,1.0,51.0,0,0,1,0,166.29,0,0,0,0,1,0,0,0,1,0,0
4907,4907,0.0,44.0,0,0,1,1,85.28,0,0,1,0,0,0,0,1,0,0,0

In [147]:
df.drop(columns=['Unnamed: 0'],inplace=True)
df

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,stroke,treatment_bmi,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1.0,67.0,0,1,1,1,228.69,1,1,0,0,1,0,0,0,1,0,0
1,1.0,80.0,0,1,1,0,105.92,1,1,0,0,1,0,0,0,0,1,0
2,0.0,49.0,0,0,1,1,171.23,1,1,0,0,1,0,0,0,0,0,1
3,0.0,79.0,1,0,1,0,174.12,1,0,0,0,0,1,0,0,0,1,0
4,1.0,81.0,0,0,1,1,186.21,1,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,0.0,13.0,0,0,0,0,103.08,0,0,0,0,0,0,1,1,0,0,0
4904,0.0,81.0,0,0,1,1,125.20,0,1,0,0,0,1,0,0,0,1,0
4905,0.0,35.0,0,0,1,0,82.99,0,1,0,0,0,1,0,0,0,1,0
4906,1.0,51.0,0,0,1,0,166.29,0,0,0,0,1,0,0,0,1,0,0
4907,0.0,44.0,0,0,1,1,85.28,0,0,1,0,0,0,0,1,0,0,0

In [148]:
Y = df.stroke
Y

0       1
1       1
2       1
3       1
4       1
       ..
4903    0
4904    0
4905    0
4906    0
4907    0
Name: stroke, Length: 4908, dtype: int64

In [149]:
df_data = df.loc[:,df.columns !='stroke']
df_data

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,treatment_bmi,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1.0,67.0,0,1,1,1,228.69,1,0,0,1,0,0,0,1,0,0
1,1.0,80.0,0,1,1,0,105.92,1,0,0,1,0,0,0,0,1,0
2,0.0,49.0,0,0,1,1,171.23,1,0,0,1,0,0,0,0,0,1
3,0.0,79.0,1,0,1,0,174.12,0,0,0,0,1,0,0,0,1,0
4,1.0,81.0,0,0,1,1,186.21,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,0.0,13.0,0,0,0,0,103.08,0,0,0,0,0,1,1,0,0,0
4904,0.0,81.0,0,0,1,1,125.20,1,0,0,0,1,0,0,0,1,0
4905,0.0,35.0,0,0,1,0,82.99,1,0,0,0,1,0,0,0,1,0
4906,1.0,51.0,0,0,1,0,166.29,0,0,0,1,0,0,0,1,0,0
4907,0.0,44.0,0,0,1,1,85.28,0,1,0,0,0,0,1,0,0,0

In [150]:
T = df_data.treatment_bmi
X = df_data.loc[:,df_data.columns !='treatment_bmi']

In [151]:
T

0       1
1       1
2       1
3       0
4       0
       ..
4903    0
4904    1
4905    1
4906    0
4907    0
Name: treatment_bmi, Length: 4908, dtype: int64

In [152]:
X

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1.0,67.0,0,1,1,1,228.69,0,0,1,0,0,0,1,0,0
1,1.0,80.0,0,1,1,0,105.92,0,0,1,0,0,0,0,1,0
2,0.0,49.0,0,0,1,1,171.23,0,0,1,0,0,0,0,0,1
3,0.0,79.0,1,0,1,0,174.12,0,0,0,1,0,0,0,1,0
4,1.0,81.0,0,0,1,1,186.21,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903,0.0,13.0,0,0,0,0,103.08,0,0,0,0,1,1,0,0,0
4904,0.0,81.0,0,0,1,1,125.20,0,0,0,1,0,0,0,1,0
4905,0.0,35.0,0,0,1,0,82.99,0,0,0,1,0,0,0,1,0
4906,1.0,51.0,0,0,1,0,166.29,0,0,1,0,0,0,1,0,0
4907,0.0,44.0,0,0,1,1,85.28,1,0,0,0,0,1,0,0,0

In [153]:
# Choose age,hypertension,heart_disease,avg_glucose_level as X_b
X_b = ['age','hypertension','heart_disease','avg_glucose_level']
X_b

['age', 'hypertension', 'heart_disease', 'avg_glucose_level']

In [154]:
# Design pipeline to build the treatment estimator
model_initial = Pipeline([
    ('scaler', StandardScaler()),
    ('logistic_classifier', lr())
])

model_initial.fit(X.loc[:,X_b], T)

Pipeline(steps=[('scaler', StandardScaler()),
                ('logistic_classifier', LogisticRegression())])

In [155]:
predictions = model_1.predict_proba(X.loc[:,X_b])
predictions_binary = model_1.predict(X.loc[:,X_b])
predictions_binary

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [156]:
X.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'Residence_type', 'avg_glucose_level', 'work_type_Govt_job',
       'work_type_Never_worked', 'work_type_Private',
       'work_type_Self-employed', 'work_type_children',
       'smoking_status_Unknown', 'smoking_status_formerly smoked',
       'smoking_status_never smoked', 'smoking_status_smokes'],
      dtype='object')

In [157]:
likelihood_ratio_table = []
X_l = X_b.copy()

while not likelihood_ratio_table or max([x for x in likelihood_ratio_table[-1].values() if x != '-']) >= 1:
    if likelihood_ratio_table:
        max_likelihood_ratio = max([x for x in likelihood_ratio_table[-1].values() if x != '-'])
        next_label = [key for key in likelihood_ratio_table[-1] if likelihood_ratio_table[-1][key] == max_likelihood_ratio][0]
        X_l.append(next_label)
    model = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr())])
    model.fit(X.loc[:,X_l], T)
    step = {}
    for x in X.columns:
        if x in X_l:
            step[x] = '-'
        else:
            X_new = X_l.copy()
            X_new.append(x)
            model_new = Pipeline([('scaler', StandardScaler()),('logistic_classifier', lr())])
            model_new.fit(X.loc[:,X_new], T)
            
            step[x] = -2*((-metrics.log_loss(T, model.predict_proba(X.loc[:,X_l]))*len(T))
                      -(-metrics.log_loss(T, model_new.predict_proba(X.loc[:,X_new]))*len(T)))
    likelihood_ratio_table.append(step)

In [158]:
len(likelihood_ratio_table)

7

In [159]:
linear_terms_list = []
for x in X.columns:
    row = [step[x] for step in likelihood_ratio_table]
    row.insert(0, x)
    linear_terms_list.append(row)
    
columns = ['Label']
for i in range(0,len(likelihood_ratio_table)):
    step = 'Step ' + str(i+1)
    columns.append(step)
    
linear_terms_df = pd.DataFrame(linear_terms_list,columns = columns)

In [160]:
linear_terms_df

,Label,Step 1,Step 2,Step 3,Step 4,Step 5,Step 6,Step 7
0,gender,1.487145,5.564498,5.51393,4.984368,-,-,-
1,age,-,-,-,-,-,-,-
2,hypertension,-,-,-,-,-,-,-
3,heart_disease,-,-,-,-,-,-,-
4,ever_married,75.583168,34.560268,-,-,-,-,-
5,Residence_type,0.099562,0.062997,0.051344,0.05351,0.045721,0.039448,0.029114
6,avg_glucose_level,-,-,-,-,-,-,-
7,work_type_Govt_job,5.718985,1.526857,0.93796,0.959731,0.964504,0.422214,0.392916
8,work_type_Never_worked,0.075284,2.413144,1.284542,1.223878,1.324077,1.322828,-
9,work_type_Private,53.808602,0.512568,0.472453,0.511085,0.469116,0.178209,0.391999
10,work_type_Self-employed,6.092148,3.199328,2.490074,2.650278,2.513505,-,-
11,work_type_children,247.537509,-,-,-,-,-,-
12,smoking_status_Unknown,44.49809,2.553024,1.798248,0.620933,0.74275,0.725582,0.703826
13,smoking_status_formerly smoked,6.888214,6.002716,5.625663,-,-,-,-
14,smoking_status_never smoked,3.113332,1.1115,0.972893,0.000048,0.021484,0.024469,0.032546
15,smoking_status_smokes,6.838667,0.317956,0.074338,0.683845,0.547395,0.514604,0.455067

In [161]:
# The linear terms we need to include
X_l

['age',
 'hypertension',
 'heart_disease',
 'avg_glucose_level',
 'work_type_children',
 'ever_married',
 'smoking_status_formerly smoked',
 'gender',
 'work_type_Self-employed',
 'work_type_Never_worked']